.cover__link {
    height: 740px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    position: relative;

}

.cover:before {
    content: "";
    background: black;
    position: absolute;
    height: 100%;
    opacity: .3;
    width: 100%;
    background-size: contain;
}

.cover:hover:before {
    opacity: .8;
}

@media screen and (max-width: 1024px) {
    .cover__link {
        max-width: 1024px;
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__link {
        max-width: 768px;
        max-height: 480px;
    }
}


@media screen and (max-width: 320px) {
    .cover__link {
        max-width: 320px;
        max-height: 200px;
    }
}