.place {
    display: grid;
    grid-template-columns: 47% 49%;
    grid-template-rows: repeat(2, auto);
    gap: 48px 4%;
    width: 100%;
    margin-bottom: 80px;
    height: 100%;
}

.place:last-child {
    margin-bottom: 0;
}